<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header">
      <div class="carousel">
        <div class="carousel--description">
          <div class="line top-right"></div>
          <div class="line right-top"></div>
          <div class="line top-left"></div>
          <div class="line left-top"></div>
          <div class="line bottom-right"></div>
          <div class="line right-bottom"></div>
          <div class="line bottom-left"></div>
          <div class="line left-bottom"></div>
        </div>
        <div
          class="carousel--image"
          style="background-image: url(img-1.jpg)"
        ></div>
      </div>
    </div>
  </body>
</html>
