html {
  scroll-behavior: smooth;
}

p {
  width: 400px;
  border-radius: 20px;
  background-color: cornflowerblue;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 60px;
}

.to-top-img {
  width: 80px;
  height: 80px;
}

.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  opacity: 0;
  pointer-events: none; /* cool stuff */
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
